.main { padding: 15px 0; }

.amount {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0 0 0;
}
.amount__label {
  color: #4c546d;
  font-size: 18px;
  padding: 0 10px 0 0;
}
.amount__input {
  color: #444;
  border: 1px solid #ababab;
  border-radius: 2px;
  box-shadow: 5px 5px 8px rgba(165, 170, 181, 0.25) inset;
  font-size: 18px;
  height: 40px;
  padding: 5px 10px;
  width: 75px;
}
.amount__input:focus {
  border-color: #2a8dd4;
}

.numbers {
  border-top: 1px solid #EEE;
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
.numbers__title {
  color: #4c546d;
  font-size: 18px;
  line-height: 1.5;
  padding: 0 0 0.667em 0;
  text-align: center;
}
.numbers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.numbers__item {
  align-items: center;
  background-color: #18bd7e;
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  border-radius: 100%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  color: white;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin: 0.370em;
  height: 2.222em;
  width: 2.222em;
}

.button {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

@media screen and (min-width: 380px) {
  .numbers__title { font-size: calc(18px + (30 - 18) * ((100vw - 380px) / (1000 - 380))); }
  .numbers__item { font-size: calc(19px + (27 - 19) * ((100vw - 380px) / (1000 - 380))); }
}
@media screen and (min-width: 1000px) {
  .numbers__title { font-size: 30px; }
  .numbers__item { font-size: 27px; }
}